.game-screen {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
  }

  &__header {
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: silver;
  }

  &__main {
    padding: 60px 20px;
  }

  &__field {
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    gap: 4px;
    width: 100%;
    background-color: coral;
  }

  &__cell {
    width: 100%;
    aspect-ratio: 1;
    font-size: 1.2rem;

    &:hover {
      background-color: yellowgreen;
    }
  }
}
