.game-screen {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  &__title {
    margin: 0;
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 600;
    text-align: center;
  }

  &__header {
    padding: clamp(20px, 5vw, 60px) 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(10px, 4vw, 40px);
    flex-wrap: wrap;
    background-color: silver;
  }

  &__main {
    padding: clamp(20px, 5vw, 60px) 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__hints {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__score {
    margin: 0;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 300;
  }

  &__hint {
    margin: 0;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    font-weight: 300;
  }

  &__field {
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    //place-items: center;
    gap: 4px;
    width: 100%;
    background-color: coral;

    @media (max-width: 480px) {
      gap: 2px;
    }
  }

  &__cell {
    width: 100%;
    aspect-ratio: 1;
    font-size: clamp(1rem, 3vw, 1.2rem);

    &_active {
      &:hover {
        background-color: yellow;
      }
    }

    &_selected {
      background-color: yellowgreen;

      &:hover {
        background-color: #efeeb2;
      }
    }

    &_invalid {
      background-color: maroon;

      &:hover {
        background-color: maroon;
      }
    }
  }
}
