.game-screen {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
  }

  &__header {
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: silver;
  }

  &__main {
    padding: 60px 20px;
  }
}
