.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 1280px;
  width: 100%;

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
  }

  &__modes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

.start-screen__button {

  &_disabled {

  }
}