.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: greenyellow;
  }

  &:disabled {
    cursor: default;
    background-color: darkgrey;
  }

  &_round {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    border-radius: 50%;
  }

  &__icon {
    width: 75%;
    height: 75%;
    object-fit: contain;
  }
}