.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: greenyellow;
  }

  &__icon {
    display: block;
    padding: 4px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &_round {
    flex-shrink: 0;
    width: clamp(2.8rem, 6vw, 3rem);
    height: clamp(2.8rem, 6vw, 3rem);
    border: 1px solid black;
    border-radius: 50%;
  }

  &_add {
    font-size: clamp(1.5rem, 6vw, 2rem);
  }
}