.button {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: greenyellow;
  }

  &__icon {
    display: block;
    padding: 4px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &_round {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}