@use "../common/mixins" as m;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;

  @include m.non-sticking-hover {
    cursor: pointer;
    background-color: greenyellow;
  }

  &:disabled {
    cursor: default;
    background-color: darkgrey;
  }

  &_round {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    border-radius: 50%;
  }

  &_hint {
    max-width: 200px;
    width: 100%;
    padding: 3px;
    font-size: clamp(1.2rem, 2.5vw, 1.2rem);
  }

  &__icon {
    width: 75%;
    height: 75%;
    object-fit: contain;
  }
}