.modal {
  padding: 0;
  min-width: 240px;
  max-width: 380px;
  width: calc(100% - 40px);
  border: none;

  &::backdrop {
    background: rgba(34, 34, 34, 0.60);
  }
}

.modal__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(34, 34, 34, 0.60);
}

.modal__title {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 500;
  text-align: center;
}