.modal {
  padding: 0;
  max-width: 240px;
  width: calc(100% - 40px);
  border: none;

  &::backdrop {
    background: rgba(34, 34, 34, 0.60);
  }
}

.modal__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(34, 34, 34, 0.60);
}

.modal__title {
  font-size: 1.5rem;
  font-weight: 500;
}