$link-size: clamp(1.5rem, 5vw, 2rem);

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: $link-size;

  &__icon {
    width: $link-size;
    height: auto;
    object-fit: contain;
  }
}